<section class="container max-w-5xl mx-auto px-6">
<div class="flex flex-col p-8 md:flex-row container mx-auto justify-between">
  <img alt="Fatsack" class="rounded-full sm:h-72 sm:w-72 lg:w-90 lg:h-90" src="/images/fatsack.png">
  <div class="md:max-w-md md:ml-5 text-left">
      <h1 class="sm:text-3xl md:text-4xl lg:text-5xl text-2xl uppercase font-black mb-5">Hi, I'm Fatsack.</h1>
      <p class="mb-8">Since 2015 I've been sharing my passion for video games, graphic design, web development, tabletop roleplaying, and weird eclectic music with my community on Twitch. Expect silly humor, good conversation, and positive attitudes with a dash of so-bad-it's-good gameplay.</p>
      <a href="https://twitch.tv/fatsackfails/about" target="_blank" rel="noopener noreferrer" class="h-16 shadow-md font-medium py-2 px-4 text-pink-100 cursor-pointer bg-pink-500 hover:bg-pink-400 rounded text-lg text-center w-48">
        <svg class="inline-block h-5 w-5 mr-4" fill="currentColor" role="img" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/icon-library.svg#icon-twitch"></use>
        </svg>
      Follow me on Twitch</a>
  </div>
</div>
</section>
<section class="container xl:min-w-6xl max-w-6xl mx-auto py-12 px-6 lg:px-0">
  <div class="flex flex-wrap mx-auto">
    {% set postslist = collections.category["Streamer Resources"] | reverse | limit(1) %}
    {% include "postslist.njk" %}
    {% set postslist = collections.category["Highlights"] | reverse | limit(1) %}
    {% include "postslist.njk" %}
    {% set postslist = collections.category["Fatsack News"] | reverse | limit(1) %}
    {% include "postslist.njk" %}
    {% set postslist = collections.category["Game Reviews"] | reverse | limit(1) %}
    {% include "postslist.njk" %}
    {% set postslist = collections.category["Tabletop RPGs"] | reverse | limit(1) %}
    {% include "postslist.njk" %}
    {% set postslist = collections["Play Throughs"] | reverse | limit(1) %}
    {% include "postslist.njk" %}
  </div>
</section>
