{# Posts List  #}

{% for post in postslist %}

  {% set title = post.data.title %}
  {% set featuredImage = post.data.image_card or site.image_card %}
  {% set featuredImageAlt = 'Video clip thumbnail' or post.data.image_caption %}
  {% set postCredit = post.data.clipper or site.author_name %}
  {% set publishDate = post.data.date %}
  {% set excerpt = post.data.teaser %}

  <article class="w-full sm:w-1/2 lg:w-1/3 px-2 pb-12">
    <a href="{{ post.url }}" class="h-full bg-{{ theme.colors.main }}-100 dark:bg-{{ theme.colors.main }}-700 rounded overflow-hidden hover:shadow-2xl relative smooth no-underline hover:no-underline flex flex-col border-l-4 border-b-4 border-{{ theme.colors.accent }}-500">
      <div class="relative pb-16/9">
        <img src="{{ featuredImage }}" alt="{{ featuredImageAlt }}" class="absolute h-full w-full rounded-t object-cover">
      </div>
      <div class="px-6 pt-6 h-auto min-h-32 flex-grow">
        <p class="text-{{ theme.colors.main }}-800 dark:text-{{ theme.colors.main }}-100 text-xs md:text-sm {{ theme_ghostwind.fonts.postslist.tags }}">
        {% for tag in post.data.tags %}
          {%- if (tag != "post") and (tag != "page") and (tag != "tabletop") and (tag != "snippets") -%}
            <span class="inline-block mr-2">{{ tag | upper }}</span>
          {%- endif -%}
        {% endfor %}
        </p>
        <h2 class="font-bold text-xl text-{{ theme.colors.main }}-900 dark:text-{{ theme.colors.main }}-200 {{ theme_ghostwind.fonts.postslist.title }} my-3 hover:underline">{{ title }}</h2>
        {% if excerpt %}
        <p class="text-{{ theme.colors.main }}-800 dark:text-{{ theme.colors.main }}-100 {{ theme_ghostwind.fonts.postslist.excerpt }} text-base mb-5">
          {{ excerpt | safe }}
        </p>
        {% endif %}
      </div>
      <div class="flex items-center justify-between inset-x-0 bottom-0 px-6 pb-6">
        <p class="text-xs uppercase">{{ post.data.category }}</p>
        <p class="text-{{ theme.colors.main }}-800 dark:text-{{ theme.colors.main }}-100 text-xs uppercase {{ theme_ghostwind.fonts.postslist.date }}">{{ publishDate | readableDate }}</p>
      </div>
    </a>
  </article>

{% endfor %}
