---
title: Confetti
permalink: confetti.html
seo_title: Confetti
seo_desc: Confetti
body_class: confetti
layout: blank.njk
---

<style>

body {
  margin: 0;
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

[class|="confetti"] {
  position: absolute;
}

.confetti-0 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 22%;
  opacity: 0.9138127791;
  -webkit-transform: rotate(146.4991564509deg);
          transform: rotate(146.4991564509deg);
  -webkit-animation: drop-0 4.7302011837s 0.6912427865s infinite;
          animation: drop-0 4.7302011837s 0.6912427865s infinite;
}

@-webkit-keyframes drop-0 {
  100% {
    top: 110%;
    left: 30%;
  }
}

@keyframes drop-0 {
  100% {
    top: 110%;
    left: 30%;
  }
}
.confetti-1 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 75%;
  opacity: 0.5275676956;
  -webkit-transform: rotate(306.96052942deg);
          transform: rotate(306.96052942deg);
  -webkit-animation: drop-1 4.7945547182s 0.2881796342s infinite;
          animation: drop-1 4.7945547182s 0.2881796342s infinite;
}

@-webkit-keyframes drop-1 {
  100% {
    top: 110%;
    left: 76%;
  }
}

@keyframes drop-1 {
  100% {
    top: 110%;
    left: 76%;
  }
}
.confetti-2 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 1%;
  opacity: 1.1543369818;
  -webkit-transform: rotate(229.9381251608deg);
          transform: rotate(229.9381251608deg);
  -webkit-animation: drop-2 4.7801204854s 0.924209946s infinite;
          animation: drop-2 4.7801204854s 0.924209946s infinite;
}

@-webkit-keyframes drop-2 {
  100% {
    top: 110%;
    left: 10%;
  }
}

@keyframes drop-2 {
  100% {
    top: 110%;
    left: 10%;
  }
}
.confetti-3 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 100%;
  opacity: 1.2509852446;
  -webkit-transform: rotate(316.7727031608deg);
          transform: rotate(316.7727031608deg);
  -webkit-animation: drop-3 4.4750526017s 0.6059120828s infinite;
          animation: drop-3 4.4750526017s 0.6059120828s infinite;
}

@-webkit-keyframes drop-3 {
  100% {
    top: 110%;
    left: 108%;
  }
}

@keyframes drop-3 {
  100% {
    top: 110%;
    left: 108%;
  }
}
.confetti-4 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 16%;
  opacity: 0.6966502202;
  -webkit-transform: rotate(202.2966730832deg);
          transform: rotate(202.2966730832deg);
  -webkit-animation: drop-4 4.0043349405s 0.9535185318s infinite;
          animation: drop-4 4.0043349405s 0.9535185318s infinite;
}

@-webkit-keyframes drop-4 {
  100% {
    top: 110%;
    left: 27%;
  }
}

@keyframes drop-4 {
  100% {
    top: 110%;
    left: 27%;
  }
}
.confetti-5 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 59%;
  opacity: 0.8596410138;
  -webkit-transform: rotate(84.9022050757deg);
          transform: rotate(84.9022050757deg);
  -webkit-animation: drop-5 4.163865953s 0.9751136977s infinite;
          animation: drop-5 4.163865953s 0.9751136977s infinite;
}

@-webkit-keyframes drop-5 {
  100% {
    top: 110%;
    left: 67%;
  }
}

@keyframes drop-5 {
  100% {
    top: 110%;
    left: 67%;
  }
}
.confetti-6 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 16%;
  opacity: 1.3308146306;
  -webkit-transform: rotate(272.1687843163deg);
          transform: rotate(272.1687843163deg);
  -webkit-animation: drop-6 4.8552177705s 0.5006033122s infinite;
          animation: drop-6 4.8552177705s 0.5006033122s infinite;
}

@-webkit-keyframes drop-6 {
  100% {
    top: 110%;
    left: 23%;
  }
}

@keyframes drop-6 {
  100% {
    top: 110%;
    left: 23%;
  }
}
.confetti-7 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 54%;
  opacity: 1.3361728363;
  -webkit-transform: rotate(195.9242650337deg);
          transform: rotate(195.9242650337deg);
  -webkit-animation: drop-7 4.7776290638s 0.1510384858s infinite;
          animation: drop-7 4.7776290638s 0.1510384858s infinite;
}

@-webkit-keyframes drop-7 {
  100% {
    top: 110%;
    left: 60%;
  }
}

@keyframes drop-7 {
  100% {
    top: 110%;
    left: 60%;
  }
}
.confetti-8 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 60%;
  opacity: 0.7808496259;
  -webkit-transform: rotate(46.0936208229deg);
          transform: rotate(46.0936208229deg);
  -webkit-animation: drop-8 4.6189866805s 0.3128161224s infinite;
          animation: drop-8 4.6189866805s 0.3128161224s infinite;
}

@-webkit-keyframes drop-8 {
  100% {
    top: 110%;
    left: 72%;
  }
}

@keyframes drop-8 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-9 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 98%;
  opacity: 0.6203373775;
  -webkit-transform: rotate(160.893690556deg);
          transform: rotate(160.893690556deg);
  -webkit-animation: drop-9 4.0116726949s 0.557326851s infinite;
          animation: drop-9 4.0116726949s 0.557326851s infinite;
}

@-webkit-keyframes drop-9 {
  100% {
    top: 110%;
    left: 105%;
  }
}

@keyframes drop-9 {
  100% {
    top: 110%;
    left: 105%;
  }
}
.confetti-10 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 13%;
  opacity: 1.2241552158;
  -webkit-transform: rotate(181.0086598217deg);
          transform: rotate(181.0086598217deg);
  -webkit-animation: drop-10 4.1275017935s 0.1011839074s infinite;
          animation: drop-10 4.1275017935s 0.1011839074s infinite;
}

@-webkit-keyframes drop-10 {
  100% {
    top: 110%;
    left: 25%;
  }
}

@keyframes drop-10 {
  100% {
    top: 110%;
    left: 25%;
  }
}
.confetti-11 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 61%;
  opacity: 1.3180199232;
  -webkit-transform: rotate(275.2346336042deg);
          transform: rotate(275.2346336042deg);
  -webkit-animation: drop-11 4.8611154458s 0.627135933s infinite;
          animation: drop-11 4.8611154458s 0.627135933s infinite;
}

@-webkit-keyframes drop-11 {
  100% {
    top: 110%;
    left: 71%;
  }
}

@keyframes drop-11 {
  100% {
    top: 110%;
    left: 71%;
  }
}
.confetti-12 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 92%;
  opacity: 1.2952660492;
  -webkit-transform: rotate(202.713216847deg);
          transform: rotate(202.713216847deg);
  -webkit-animation: drop-12 4.0395306502s 0.133979873s infinite;
          animation: drop-12 4.0395306502s 0.133979873s infinite;
}

@-webkit-keyframes drop-12 {
  100% {
    top: 110%;
    left: 99%;
  }
}

@keyframes drop-12 {
  100% {
    top: 110%;
    left: 99%;
  }
}
.confetti-13 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 61%;
  opacity: 1.2463810126;
  -webkit-transform: rotate(213.0664691934deg);
          transform: rotate(213.0664691934deg);
  -webkit-animation: drop-13 4.4568227322s 0.225136573s infinite;
          animation: drop-13 4.4568227322s 0.225136573s infinite;
}

@-webkit-keyframes drop-13 {
  100% {
    top: 110%;
    left: 69%;
  }
}

@keyframes drop-13 {
  100% {
    top: 110%;
    left: 69%;
  }
}
.confetti-14 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 15%;
  opacity: 1.321649615;
  -webkit-transform: rotate(28.2303101937deg);
          transform: rotate(28.2303101937deg);
  -webkit-animation: drop-14 4.5691188802s 0.5974114684s infinite;
          animation: drop-14 4.5691188802s 0.5974114684s infinite;
}

@-webkit-keyframes drop-14 {
  100% {
    top: 110%;
    left: 26%;
  }
}

@keyframes drop-14 {
  100% {
    top: 110%;
    left: 26%;
  }
}
.confetti-15 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 41%;
  opacity: 0.8519711249;
  -webkit-transform: rotate(3.2956776452deg);
          transform: rotate(3.2956776452deg);
  -webkit-animation: drop-15 4.5160937843s 0.6446284125s infinite;
          animation: drop-15 4.5160937843s 0.6446284125s infinite;
}

@-webkit-keyframes drop-15 {
  100% {
    top: 110%;
    left: 50%;
  }
}

@keyframes drop-15 {
  100% {
    top: 110%;
    left: 50%;
  }
}
.confetti-16 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 75%;
  opacity: 1.0908757213;
  -webkit-transform: rotate(188.99389431deg);
          transform: rotate(188.99389431deg);
  -webkit-animation: drop-16 4.4922660959s 0.1525349039s infinite;
          animation: drop-16 4.4922660959s 0.1525349039s infinite;
}

@-webkit-keyframes drop-16 {
  100% {
    top: 110%;
    left: 84%;
  }
}

@keyframes drop-16 {
  100% {
    top: 110%;
    left: 84%;
  }
}
.confetti-17 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 93%;
  opacity: 1.2452144805;
  -webkit-transform: rotate(329.9702687147deg);
          transform: rotate(329.9702687147deg);
  -webkit-animation: drop-17 4.3130696485s 0.8325861129s infinite;
          animation: drop-17 4.3130696485s 0.8325861129s infinite;
}

@-webkit-keyframes drop-17 {
  100% {
    top: 110%;
    left: 106%;
  }
}

@keyframes drop-17 {
  100% {
    top: 110%;
    left: 106%;
  }
}
.confetti-18 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 33%;
  opacity: 1.2669098904;
  -webkit-transform: rotate(170.3344069078deg);
          transform: rotate(170.3344069078deg);
  -webkit-animation: drop-18 4.8429832236s 0.5885913778s infinite;
          animation: drop-18 4.8429832236s 0.5885913778s infinite;
}

@-webkit-keyframes drop-18 {
  100% {
    top: 110%;
    left: 45%;
  }
}

@keyframes drop-18 {
  100% {
    top: 110%;
    left: 45%;
  }
}
.confetti-19 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 77%;
  opacity: 1.0109982442;
  -webkit-transform: rotate(208.3011787053deg);
          transform: rotate(208.3011787053deg);
  -webkit-animation: drop-19 4.4516606443s 0.132529887s infinite;
          animation: drop-19 4.4516606443s 0.132529887s infinite;
}

@-webkit-keyframes drop-19 {
  100% {
    top: 110%;
    left: 90%;
  }
}

@keyframes drop-19 {
  100% {
    top: 110%;
    left: 90%;
  }
}
.confetti-20 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 85%;
  opacity: 1.1262076384;
  -webkit-transform: rotate(187.3700269317deg);
          transform: rotate(187.3700269317deg);
  -webkit-animation: drop-20 4.217722933s 0.7989511447s infinite;
          animation: drop-20 4.217722933s 0.7989511447s infinite;
}

@-webkit-keyframes drop-20 {
  100% {
    top: 110%;
    left: 88%;
  }
}

@keyframes drop-20 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-21 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 84%;
  opacity: 1.2019370345;
  -webkit-transform: rotate(197.6073716582deg);
          transform: rotate(197.6073716582deg);
  -webkit-animation: drop-21 4.7251973948s 0.4720181199s infinite;
          animation: drop-21 4.7251973948s 0.4720181199s infinite;
}

@-webkit-keyframes drop-21 {
  100% {
    top: 110%;
    left: 88%;
  }
}

@keyframes drop-21 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-22 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 10%;
  opacity: 1.1684682435;
  -webkit-transform: rotate(1.4085916646deg);
          transform: rotate(1.4085916646deg);
  -webkit-animation: drop-22 4.9016457592s 0.1710178136s infinite;
          animation: drop-22 4.9016457592s 0.1710178136s infinite;
}

@-webkit-keyframes drop-22 {
  100% {
    top: 110%;
    left: 18%;
  }
}

@keyframes drop-22 {
  100% {
    top: 110%;
    left: 18%;
  }
}
.confetti-23 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 99%;
  opacity: 0.7782108199;
  -webkit-transform: rotate(259.3348265146deg);
          transform: rotate(259.3348265146deg);
  -webkit-animation: drop-23 4.0919088824s 0.2239599089s infinite;
          animation: drop-23 4.0919088824s 0.2239599089s infinite;
}

@-webkit-keyframes drop-23 {
  100% {
    top: 110%;
    left: 106%;
  }
}

@keyframes drop-23 {
  100% {
    top: 110%;
    left: 106%;
  }
}
.confetti-24 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 28%;
  opacity: 1.3500968594;
  -webkit-transform: rotate(121.5335890046deg);
          transform: rotate(121.5335890046deg);
  -webkit-animation: drop-24 4.4321652073s 0.2612816187s infinite;
          animation: drop-24 4.4321652073s 0.2612816187s infinite;
}

@-webkit-keyframes drop-24 {
  100% {
    top: 110%;
    left: 31%;
  }
}

@keyframes drop-24 {
  100% {
    top: 110%;
    left: 31%;
  }
}
.confetti-25 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 85%;
  opacity: 0.7131486846;
  -webkit-transform: rotate(129.5870435356deg);
          transform: rotate(129.5870435356deg);
  -webkit-animation: drop-25 4.7558913665s 0.4656588299s infinite;
          animation: drop-25 4.7558913665s 0.4656588299s infinite;
}

@-webkit-keyframes drop-25 {
  100% {
    top: 110%;
    left: 91%;
  }
}

@keyframes drop-25 {
  100% {
    top: 110%;
    left: 91%;
  }
}
.confetti-26 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 72%;
  opacity: 0.9020211192;
  -webkit-transform: rotate(336.6858488626deg);
          transform: rotate(336.6858488626deg);
  -webkit-animation: drop-26 4.1822701564s 0.8240838963s infinite;
          animation: drop-26 4.1822701564s 0.8240838963s infinite;
}

@-webkit-keyframes drop-26 {
  100% {
    top: 110%;
    left: 75%;
  }
}

@keyframes drop-26 {
  100% {
    top: 110%;
    left: 75%;
  }
}
.confetti-27 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 53%;
  opacity: 1.1437516609;
  -webkit-transform: rotate(14.8605580993deg);
          transform: rotate(14.8605580993deg);
  -webkit-animation: drop-27 4.4566311245s 0.6616331128s infinite;
          animation: drop-27 4.4566311245s 0.6616331128s infinite;
}

@-webkit-keyframes drop-27 {
  100% {
    top: 110%;
    left: 56%;
  }
}

@keyframes drop-27 {
  100% {
    top: 110%;
    left: 56%;
  }
}
.confetti-28 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 33%;
  opacity: 1.1157914152;
  -webkit-transform: rotate(100.2978034368deg);
          transform: rotate(100.2978034368deg);
  -webkit-animation: drop-28 4.2719895189s 0.4295563321s infinite;
          animation: drop-28 4.2719895189s 0.4295563321s infinite;
}

@-webkit-keyframes drop-28 {
  100% {
    top: 110%;
    left: 36%;
  }
}

@keyframes drop-28 {
  100% {
    top: 110%;
    left: 36%;
  }
}
.confetti-29 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 55%;
  opacity: 1.183387944;
  -webkit-transform: rotate(36.1895474021deg);
          transform: rotate(36.1895474021deg);
  -webkit-animation: drop-29 4.7843543619s 0.3923707183s infinite;
          animation: drop-29 4.7843543619s 0.3923707183s infinite;
}

@-webkit-keyframes drop-29 {
  100% {
    top: 110%;
    left: 60%;
  }
}

@keyframes drop-29 {
  100% {
    top: 110%;
    left: 60%;
  }
}
.confetti-30 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 33%;
  opacity: 1.0080496443;
  -webkit-transform: rotate(54.548814023deg);
          transform: rotate(54.548814023deg);
  -webkit-animation: drop-30 4.8680665154s 0.5776897546s infinite;
          animation: drop-30 4.8680665154s 0.5776897546s infinite;
}

@-webkit-keyframes drop-30 {
  100% {
    top: 110%;
    left: 36%;
  }
}

@keyframes drop-30 {
  100% {
    top: 110%;
    left: 36%;
  }
}
.confetti-31 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 39%;
  opacity: 0.5809464332;
  -webkit-transform: rotate(321.0773187866deg);
          transform: rotate(321.0773187866deg);
  -webkit-animation: drop-31 4.283966908s 0.4701854938s infinite;
          animation: drop-31 4.283966908s 0.4701854938s infinite;
}

@-webkit-keyframes drop-31 {
  100% {
    top: 110%;
    left: 40%;
  }
}

@keyframes drop-31 {
  100% {
    top: 110%;
    left: 40%;
  }
}
.confetti-32 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 5%;
  opacity: 1.191217242;
  -webkit-transform: rotate(92.6800840067deg);
          transform: rotate(92.6800840067deg);
  -webkit-animation: drop-32 4.101792856s 0.9861259112s infinite;
          animation: drop-32 4.101792856s 0.9861259112s infinite;
}

@-webkit-keyframes drop-32 {
  100% {
    top: 110%;
    left: 11%;
  }
}

@keyframes drop-32 {
  100% {
    top: 110%;
    left: 11%;
  }
}
.confetti-33 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 24%;
  opacity: 1.1307402413;
  -webkit-transform: rotate(160.2238867559deg);
          transform: rotate(160.2238867559deg);
  -webkit-animation: drop-33 4.3544859234s 0.28912736s infinite;
          animation: drop-33 4.3544859234s 0.28912736s infinite;
}

@-webkit-keyframes drop-33 {
  100% {
    top: 110%;
    left: 32%;
  }
}

@keyframes drop-33 {
  100% {
    top: 110%;
    left: 32%;
  }
}
.confetti-34 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 20%;
  opacity: 1.1010057361;
  -webkit-transform: rotate(324.9594072086deg);
          transform: rotate(324.9594072086deg);
  -webkit-animation: drop-34 4.734984181s 0.7524498605s infinite;
          animation: drop-34 4.734984181s 0.7524498605s infinite;
}

@-webkit-keyframes drop-34 {
  100% {
    top: 110%;
    left: 33%;
  }
}

@keyframes drop-34 {
  100% {
    top: 110%;
    left: 33%;
  }
}
.confetti-35 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 17%;
  opacity: 1.4068830842;
  -webkit-transform: rotate(241.1130050519deg);
          transform: rotate(241.1130050519deg);
  -webkit-animation: drop-35 4.0223739449s 0.6148147755s infinite;
          animation: drop-35 4.0223739449s 0.6148147755s infinite;
}

@-webkit-keyframes drop-35 {
  100% {
    top: 110%;
    left: 25%;
  }
}

@keyframes drop-35 {
  100% {
    top: 110%;
    left: 25%;
  }
}
.confetti-36 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 50%;
  opacity: 0.9251407449;
  -webkit-transform: rotate(35.6657894685deg);
          transform: rotate(35.6657894685deg);
  -webkit-animation: drop-36 4.288982193s 0.246083845s infinite;
          animation: drop-36 4.288982193s 0.246083845s infinite;
}

@-webkit-keyframes drop-36 {
  100% {
    top: 110%;
    left: 61%;
  }
}

@keyframes drop-36 {
  100% {
    top: 110%;
    left: 61%;
  }
}
.confetti-37 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 38%;
  opacity: 1.0902904361;
  -webkit-transform: rotate(56.5113054134deg);
          transform: rotate(56.5113054134deg);
  -webkit-animation: drop-37 4.0547200632s 0.0904589973s infinite;
          animation: drop-37 4.0547200632s 0.0904589973s infinite;
}

@-webkit-keyframes drop-37 {
  100% {
    top: 110%;
    left: 50%;
  }
}

@keyframes drop-37 {
  100% {
    top: 110%;
    left: 50%;
  }
}
.confetti-38 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 18%;
  opacity: 0.5216585916;
  -webkit-transform: rotate(68.4628455385deg);
          transform: rotate(68.4628455385deg);
  -webkit-animation: drop-38 4.6368765807s 0.810995559s infinite;
          animation: drop-38 4.6368765807s 0.810995559s infinite;
}

@-webkit-keyframes drop-38 {
  100% {
    top: 110%;
    left: 21%;
  }
}

@keyframes drop-38 {
  100% {
    top: 110%;
    left: 21%;
  }
}
.confetti-39 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 59%;
  opacity: 0.940811492;
  -webkit-transform: rotate(317.1378898816deg);
          transform: rotate(317.1378898816deg);
  -webkit-animation: drop-39 4.0946130928s 0.1654037922s infinite;
          animation: drop-39 4.0946130928s 0.1654037922s infinite;
}

@-webkit-keyframes drop-39 {
  100% {
    top: 110%;
    left: 68%;
  }
}

@keyframes drop-39 {
  100% {
    top: 110%;
    left: 68%;
  }
}
.confetti-40 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 17%;
  opacity: 0.6866169315;
  -webkit-transform: rotate(10.3700577765deg);
          transform: rotate(10.3700577765deg);
  -webkit-animation: drop-40 4.2617497285s 0.5645029016s infinite;
          animation: drop-40 4.2617497285s 0.5645029016s infinite;
}

@-webkit-keyframes drop-40 {
  100% {
    top: 110%;
    left: 28%;
  }
}

@keyframes drop-40 {
  100% {
    top: 110%;
    left: 28%;
  }
}
.confetti-41 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 89%;
  opacity: 0.7091996859;
  -webkit-transform: rotate(276.0482976456deg);
          transform: rotate(276.0482976456deg);
  -webkit-animation: drop-41 4.1661710563s 0.2485260229s infinite;
          animation: drop-41 4.1661710563s 0.2485260229s infinite;
}

@-webkit-keyframes drop-41 {
  100% {
    top: 110%;
    left: 91%;
  }
}

@keyframes drop-41 {
  100% {
    top: 110%;
    left: 91%;
  }
}
.confetti-42 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 91%;
  opacity: 0.5949551033;
  -webkit-transform: rotate(112.835525319deg);
          transform: rotate(112.835525319deg);
  -webkit-animation: drop-42 4.638447139s 0.2333236678s infinite;
          animation: drop-42 4.638447139s 0.2333236678s infinite;
}

@-webkit-keyframes drop-42 {
  100% {
    top: 110%;
    left: 94%;
  }
}

@keyframes drop-42 {
  100% {
    top: 110%;
    left: 94%;
  }
}
.confetti-43 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 42%;
  opacity: 1.1116297008;
  -webkit-transform: rotate(180.5124657937deg);
          transform: rotate(180.5124657937deg);
  -webkit-animation: drop-43 4.0862240823s 0.4344263439s infinite;
          animation: drop-43 4.0862240823s 0.4344263439s infinite;
}

@-webkit-keyframes drop-43 {
  100% {
    top: 110%;
    left: 51%;
  }
}

@keyframes drop-43 {
  100% {
    top: 110%;
    left: 51%;
  }
}
.confetti-44 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 19%;
  opacity: 0.6302935011;
  -webkit-transform: rotate(257.6572561112deg);
          transform: rotate(257.6572561112deg);
  -webkit-animation: drop-44 4.5092792301s 0.0718791304s infinite;
          animation: drop-44 4.5092792301s 0.0718791304s infinite;
}

@-webkit-keyframes drop-44 {
  100% {
    top: 110%;
    left: 24%;
  }
}

@keyframes drop-44 {
  100% {
    top: 110%;
    left: 24%;
  }
}
.confetti-45 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 32%;
  opacity: 1.3911844873;
  -webkit-transform: rotate(56.6325545803deg);
          transform: rotate(56.6325545803deg);
  -webkit-animation: drop-45 4.4750802878s 0.6289853913s infinite;
          animation: drop-45 4.4750802878s 0.6289853913s infinite;
}

@-webkit-keyframes drop-45 {
  100% {
    top: 110%;
    left: 37%;
  }
}

@keyframes drop-45 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-46 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 7%;
  opacity: 1.4271956172;
  -webkit-transform: rotate(249.34189342deg);
          transform: rotate(249.34189342deg);
  -webkit-animation: drop-46 4.8871429272s 0.856294626s infinite;
          animation: drop-46 4.8871429272s 0.856294626s infinite;
}

@-webkit-keyframes drop-46 {
  100% {
    top: 110%;
    left: 12%;
  }
}

@keyframes drop-46 {
  100% {
    top: 110%;
    left: 12%;
  }
}
.confetti-47 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 50%;
  opacity: 0.6456102723;
  -webkit-transform: rotate(48.3308851629deg);
          transform: rotate(48.3308851629deg);
  -webkit-animation: drop-47 4.0773551609s 0.9490688933s infinite;
          animation: drop-47 4.0773551609s 0.9490688933s infinite;
}

@-webkit-keyframes drop-47 {
  100% {
    top: 110%;
    left: 62%;
  }
}

@keyframes drop-47 {
  100% {
    top: 110%;
    left: 62%;
  }
}
.confetti-48 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 23%;
  opacity: 0.8283711509;
  -webkit-transform: rotate(77.9302284912deg);
          transform: rotate(77.9302284912deg);
  -webkit-animation: drop-48 4.0734173113s 0.9921118408s infinite;
          animation: drop-48 4.0734173113s 0.9921118408s infinite;
}

@-webkit-keyframes drop-48 {
  100% {
    top: 110%;
    left: 32%;
  }
}

@keyframes drop-48 {
  100% {
    top: 110%;
    left: 32%;
  }
}
.confetti-49 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 53%;
  opacity: 1.288076447;
  -webkit-transform: rotate(177.3464966326deg);
          transform: rotate(177.3464966326deg);
  -webkit-animation: drop-49 4.582126154s 0.1988390868s infinite;
          animation: drop-49 4.582126154s 0.1988390868s infinite;
}

@-webkit-keyframes drop-49 {
  100% {
    top: 110%;
    left: 65%;
  }
}

@keyframes drop-49 {
  100% {
    top: 110%;
    left: 65%;
  }
}
.confetti-50 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 91%;
  opacity: 0.8132610542;
  -webkit-transform: rotate(217.9813489902deg);
          transform: rotate(217.9813489902deg);
  -webkit-animation: drop-50 4.1557029006s 0.5510044593s infinite;
          animation: drop-50 4.1557029006s 0.5510044593s infinite;
}

@-webkit-keyframes drop-50 {
  100% {
    top: 110%;
    left: 106%;
  }
}

@keyframes drop-50 {
  100% {
    top: 110%;
    left: 106%;
  }
}
.confetti-51 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 69%;
  opacity: 0.8401506924;
  -webkit-transform: rotate(270.9873949974deg);
          transform: rotate(270.9873949974deg);
  -webkit-animation: drop-51 4.4243387882s 0.7961745538s infinite;
          animation: drop-51 4.4243387882s 0.7961745538s infinite;
}

@-webkit-keyframes drop-51 {
  100% {
    top: 110%;
    left: 77%;
  }
}

@keyframes drop-51 {
  100% {
    top: 110%;
    left: 77%;
  }
}
.confetti-52 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 69%;
  opacity: 0.84837785;
  -webkit-transform: rotate(92.6858766932deg);
          transform: rotate(92.6858766932deg);
  -webkit-animation: drop-52 4.5773054767s 0.7502179616s infinite;
          animation: drop-52 4.5773054767s 0.7502179616s infinite;
}

@-webkit-keyframes drop-52 {
  100% {
    top: 110%;
    left: 71%;
  }
}

@keyframes drop-52 {
  100% {
    top: 110%;
    left: 71%;
  }
}
.confetti-53 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 59%;
  opacity: 0.7170955576;
  -webkit-transform: rotate(294.4180157825deg);
          transform: rotate(294.4180157825deg);
  -webkit-animation: drop-53 4.1855426157s 0.3456146749s infinite;
          animation: drop-53 4.1855426157s 0.3456146749s infinite;
}

@-webkit-keyframes drop-53 {
  100% {
    top: 110%;
    left: 65%;
  }
}

@keyframes drop-53 {
  100% {
    top: 110%;
    left: 65%;
  }
}
.confetti-54 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 38%;
  opacity: 0.9613427888;
  -webkit-transform: rotate(21.6574583112deg);
          transform: rotate(21.6574583112deg);
  -webkit-animation: drop-54 4.9088390547s 0.3895062983s infinite;
          animation: drop-54 4.9088390547s 0.3895062983s infinite;
}

@-webkit-keyframes drop-54 {
  100% {
    top: 110%;
    left: 39%;
  }
}

@keyframes drop-54 {
  100% {
    top: 110%;
    left: 39%;
  }
}
.confetti-55 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 12%;
  opacity: 0.7763604668;
  -webkit-transform: rotate(51.7812350688deg);
          transform: rotate(51.7812350688deg);
  -webkit-animation: drop-55 4.8327953403s 0.9264857795s infinite;
          animation: drop-55 4.8327953403s 0.9264857795s infinite;
}

@-webkit-keyframes drop-55 {
  100% {
    top: 110%;
    left: 18%;
  }
}

@keyframes drop-55 {
  100% {
    top: 110%;
    left: 18%;
  }
}
.confetti-56 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 27%;
  opacity: 1.1590011473;
  -webkit-transform: rotate(67.3490833004deg);
          transform: rotate(67.3490833004deg);
  -webkit-animation: drop-56 4.6806274521s 0.2143062098s infinite;
          animation: drop-56 4.6806274521s 0.2143062098s infinite;
}

@-webkit-keyframes drop-56 {
  100% {
    top: 110%;
    left: 33%;
  }
}

@keyframes drop-56 {
  100% {
    top: 110%;
    left: 33%;
  }
}
.confetti-57 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 43%;
  opacity: 0.6304513652;
  -webkit-transform: rotate(358.053134197deg);
          transform: rotate(358.053134197deg);
  -webkit-animation: drop-57 4.3298809336s 0.4551091901s infinite;
          animation: drop-57 4.3298809336s 0.4551091901s infinite;
}

@-webkit-keyframes drop-57 {
  100% {
    top: 110%;
    left: 45%;
  }
}

@keyframes drop-57 {
  100% {
    top: 110%;
    left: 45%;
  }
}
.confetti-58 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 68%;
  opacity: 0.9353423628;
  -webkit-transform: rotate(175.8868233816deg);
          transform: rotate(175.8868233816deg);
  -webkit-animation: drop-58 4.1450494871s 0.9898059579s infinite;
          animation: drop-58 4.1450494871s 0.9898059579s infinite;
}

@-webkit-keyframes drop-58 {
  100% {
    top: 110%;
    left: 76%;
  }
}

@keyframes drop-58 {
  100% {
    top: 110%;
    left: 76%;
  }
}
.confetti-59 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 30%;
  opacity: 1.0968170949;
  -webkit-transform: rotate(255.4569932639deg);
          transform: rotate(255.4569932639deg);
  -webkit-animation: drop-59 4.3943743642s 0.3616725365s infinite;
          animation: drop-59 4.3943743642s 0.3616725365s infinite;
}

@-webkit-keyframes drop-59 {
  100% {
    top: 110%;
    left: 39%;
  }
}

@keyframes drop-59 {
  100% {
    top: 110%;
    left: 39%;
  }
}
.confetti-60 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 91%;
  opacity: 0.5899535335;
  -webkit-transform: rotate(329.8953009694deg);
          transform: rotate(329.8953009694deg);
  -webkit-animation: drop-60 4.1380505826s 0.2317047542s infinite;
          animation: drop-60 4.1380505826s 0.2317047542s infinite;
}

@-webkit-keyframes drop-60 {
  100% {
    top: 110%;
    left: 95%;
  }
}

@keyframes drop-60 {
  100% {
    top: 110%;
    left: 95%;
  }
}
.confetti-61 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 14%;
  opacity: 0.7892523374;
  -webkit-transform: rotate(83.2382684906deg);
          transform: rotate(83.2382684906deg);
  -webkit-animation: drop-61 4.9197998428s 0.9332871393s infinite;
          animation: drop-61 4.9197998428s 0.9332871393s infinite;
}

@-webkit-keyframes drop-61 {
  100% {
    top: 110%;
    left: 23%;
  }
}

@keyframes drop-61 {
  100% {
    top: 110%;
    left: 23%;
  }
}
.confetti-62 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 59%;
  opacity: 0.5854013879;
  -webkit-transform: rotate(61.4536433489deg);
          transform: rotate(61.4536433489deg);
  -webkit-animation: drop-62 4.1042649127s 0.4030695078s infinite;
          animation: drop-62 4.1042649127s 0.4030695078s infinite;
}

@-webkit-keyframes drop-62 {
  100% {
    top: 110%;
    left: 74%;
  }
}

@keyframes drop-62 {
  100% {
    top: 110%;
    left: 74%;
  }
}
.confetti-63 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 77%;
  opacity: 1.0637375774;
  -webkit-transform: rotate(134.2098888266deg);
          transform: rotate(134.2098888266deg);
  -webkit-animation: drop-63 4.0994474701s 0.90449832s infinite;
          animation: drop-63 4.0994474701s 0.90449832s infinite;
}

@-webkit-keyframes drop-63 {
  100% {
    top: 110%;
    left: 86%;
  }
}

@keyframes drop-63 {
  100% {
    top: 110%;
    left: 86%;
  }
}
.confetti-64 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 36%;
  opacity: 0.5905539023;
  -webkit-transform: rotate(168.8927062812deg);
          transform: rotate(168.8927062812deg);
  -webkit-animation: drop-64 4.9113061072s 0.5722345422s infinite;
          animation: drop-64 4.9113061072s 0.5722345422s infinite;
}

@-webkit-keyframes drop-64 {
  100% {
    top: 110%;
    left: 47%;
  }
}

@keyframes drop-64 {
  100% {
    top: 110%;
    left: 47%;
  }
}
.confetti-65 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 53%;
  opacity: 0.5756272864;
  -webkit-transform: rotate(251.7186982447deg);
          transform: rotate(251.7186982447deg);
  -webkit-animation: drop-65 4.8759768506s 0.444222578s infinite;
          animation: drop-65 4.8759768506s 0.444222578s infinite;
}

@-webkit-keyframes drop-65 {
  100% {
    top: 110%;
    left: 65%;
  }
}

@keyframes drop-65 {
  100% {
    top: 110%;
    left: 65%;
  }
}
.confetti-66 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 90%;
  opacity: 1.2979574962;
  -webkit-transform: rotate(155.8376471038deg);
          transform: rotate(155.8376471038deg);
  -webkit-animation: drop-66 4.3962000996s 0.3328964534s infinite;
          animation: drop-66 4.3962000996s 0.3328964534s infinite;
}

@-webkit-keyframes drop-66 {
  100% {
    top: 110%;
    left: 94%;
  }
}

@keyframes drop-66 {
  100% {
    top: 110%;
    left: 94%;
  }
}
.confetti-67 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 62%;
  opacity: 0.6597702007;
  -webkit-transform: rotate(189.9864255843deg);
          transform: rotate(189.9864255843deg);
  -webkit-animation: drop-67 4.2013550985s 0.0057771978s infinite;
          animation: drop-67 4.2013550985s 0.0057771978s infinite;
}

@-webkit-keyframes drop-67 {
  100% {
    top: 110%;
    left: 76%;
  }
}

@keyframes drop-67 {
  100% {
    top: 110%;
    left: 76%;
  }
}
.confetti-68 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 60%;
  opacity: 0.5724259434;
  -webkit-transform: rotate(33.6416294275deg);
          transform: rotate(33.6416294275deg);
  -webkit-animation: drop-68 4.9993943177s 0.1641168224s infinite;
          animation: drop-68 4.9993943177s 0.1641168224s infinite;
}

@-webkit-keyframes drop-68 {
  100% {
    top: 110%;
    left: 71%;
  }
}

@keyframes drop-68 {
  100% {
    top: 110%;
    left: 71%;
  }
}
.confetti-69 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 36%;
  opacity: 0.5966501188;
  -webkit-transform: rotate(345.6368572501deg);
          transform: rotate(345.6368572501deg);
  -webkit-animation: drop-69 4.9111115406s 0.0699723873s infinite;
          animation: drop-69 4.9111115406s 0.0699723873s infinite;
}

@-webkit-keyframes drop-69 {
  100% {
    top: 110%;
    left: 47%;
  }
}

@keyframes drop-69 {
  100% {
    top: 110%;
    left: 47%;
  }
}
.confetti-70 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 5%;
  opacity: 0.5047304279;
  -webkit-transform: rotate(218.8801334815deg);
          transform: rotate(218.8801334815deg);
  -webkit-animation: drop-70 4.309602884s 0.7024362901s infinite;
          animation: drop-70 4.309602884s 0.7024362901s infinite;
}

@-webkit-keyframes drop-70 {
  100% {
    top: 110%;
    left: 16%;
  }
}

@keyframes drop-70 {
  100% {
    top: 110%;
    left: 16%;
  }
}
.confetti-71 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 70%;
  opacity: 1.217867719;
  -webkit-transform: rotate(261.6054322281deg);
          transform: rotate(261.6054322281deg);
  -webkit-animation: drop-71 4.7738791278s 0.7311751441s infinite;
          animation: drop-71 4.7738791278s 0.7311751441s infinite;
}

@-webkit-keyframes drop-71 {
  100% {
    top: 110%;
    left: 77%;
  }
}

@keyframes drop-71 {
  100% {
    top: 110%;
    left: 77%;
  }
}
.confetti-72 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 84%;
  opacity: 1.1612986178;
  -webkit-transform: rotate(79.7931197673deg);
          transform: rotate(79.7931197673deg);
  -webkit-animation: drop-72 4.4769902508s 0.1684446058s infinite;
          animation: drop-72 4.4769902508s 0.1684446058s infinite;
}

@-webkit-keyframes drop-72 {
  100% {
    top: 110%;
    left: 90%;
  }
}

@keyframes drop-72 {
  100% {
    top: 110%;
    left: 90%;
  }
}
.confetti-73 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 60%;
  opacity: 0.57263779;
  -webkit-transform: rotate(0.1314139236deg);
          transform: rotate(0.1314139236deg);
  -webkit-animation: drop-73 4.14856871s 0.6784175913s infinite;
          animation: drop-73 4.14856871s 0.6784175913s infinite;
}

@-webkit-keyframes drop-73 {
  100% {
    top: 110%;
    left: 65%;
  }
}

@keyframes drop-73 {
  100% {
    top: 110%;
    left: 65%;
  }
}
.confetti-74 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 64%;
  opacity: 0.8996995299;
  -webkit-transform: rotate(262.236988207deg);
          transform: rotate(262.236988207deg);
  -webkit-animation: drop-74 4.0855895045s 0.4028019428s infinite;
          animation: drop-74 4.0855895045s 0.4028019428s infinite;
}

@-webkit-keyframes drop-74 {
  100% {
    top: 110%;
    left: 65%;
  }
}

@keyframes drop-74 {
  100% {
    top: 110%;
    left: 65%;
  }
}
.confetti-75 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 16%;
  opacity: 0.6872281774;
  -webkit-transform: rotate(159.055194176deg);
          transform: rotate(159.055194176deg);
  -webkit-animation: drop-75 4.1732632888s 0.9753374377s infinite;
          animation: drop-75 4.1732632888s 0.9753374377s infinite;
}

@-webkit-keyframes drop-75 {
  100% {
    top: 110%;
    left: 28%;
  }
}

@keyframes drop-75 {
  100% {
    top: 110%;
    left: 28%;
  }
}
.confetti-76 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 83%;
  opacity: 1.2606767886;
  -webkit-transform: rotate(321.1734774453deg);
          transform: rotate(321.1734774453deg);
  -webkit-animation: drop-76 4.050438617s 0.4388581496s infinite;
          animation: drop-76 4.050438617s 0.4388581496s infinite;
}

@-webkit-keyframes drop-76 {
  100% {
    top: 110%;
    left: 98%;
  }
}

@keyframes drop-76 {
  100% {
    top: 110%;
    left: 98%;
  }
}
.confetti-77 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 69%;
  opacity: 1.1129780779;
  -webkit-transform: rotate(195.1170256563deg);
          transform: rotate(195.1170256563deg);
  -webkit-animation: drop-77 4.3574786321s 0.7292171213s infinite;
          animation: drop-77 4.3574786321s 0.7292171213s infinite;
}

@-webkit-keyframes drop-77 {
  100% {
    top: 110%;
    left: 73%;
  }
}

@keyframes drop-77 {
  100% {
    top: 110%;
    left: 73%;
  }
}
.confetti-78 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 51%;
  opacity: 0.8102717786;
  -webkit-transform: rotate(6.8725796237deg);
          transform: rotate(6.8725796237deg);
  -webkit-animation: drop-78 4.1557394149s 0.0837556551s infinite;
          animation: drop-78 4.1557394149s 0.0837556551s infinite;
}

@-webkit-keyframes drop-78 {
  100% {
    top: 110%;
    left: 58%;
  }
}

@keyframes drop-78 {
  100% {
    top: 110%;
    left: 58%;
  }
}
.confetti-79 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 72%;
  opacity: 1.2423973685;
  -webkit-transform: rotate(340.968010028deg);
          transform: rotate(340.968010028deg);
  -webkit-animation: drop-79 4.0285608349s 0.258554438s infinite;
          animation: drop-79 4.0285608349s 0.258554438s infinite;
}

@-webkit-keyframes drop-79 {
  100% {
    top: 110%;
    left: 86%;
  }
}

@keyframes drop-79 {
  100% {
    top: 110%;
    left: 86%;
  }
}
.confetti-80 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 33%;
  opacity: 1.4896258714;
  -webkit-transform: rotate(108.6408072621deg);
          transform: rotate(108.6408072621deg);
  -webkit-animation: drop-80 4.8797378476s 0.7122663146s infinite;
          animation: drop-80 4.8797378476s 0.7122663146s infinite;
}

@-webkit-keyframes drop-80 {
  100% {
    top: 110%;
    left: 44%;
  }
}

@keyframes drop-80 {
  100% {
    top: 110%;
    left: 44%;
  }
}
.confetti-81 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 39%;
  opacity: 0.8115814763;
  -webkit-transform: rotate(344.8822114219deg);
          transform: rotate(344.8822114219deg);
  -webkit-animation: drop-81 4.6410932494s 0.7263411697s infinite;
          animation: drop-81 4.6410932494s 0.7263411697s infinite;
}

@-webkit-keyframes drop-81 {
  100% {
    top: 110%;
    left: 46%;
  }
}

@keyframes drop-81 {
  100% {
    top: 110%;
    left: 46%;
  }
}
.confetti-82 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 99%;
  opacity: 1.3025862967;
  -webkit-transform: rotate(323.3803678465deg);
          transform: rotate(323.3803678465deg);
  -webkit-animation: drop-82 4.1142084617s 0.2931979429s infinite;
          animation: drop-82 4.1142084617s 0.2931979429s infinite;
}

@-webkit-keyframes drop-82 {
  100% {
    top: 110%;
    left: 111%;
  }
}

@keyframes drop-82 {
  100% {
    top: 110%;
    left: 111%;
  }
}
.confetti-83 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 62%;
  opacity: 0.5492260828;
  -webkit-transform: rotate(326.3579957204deg);
          transform: rotate(326.3579957204deg);
  -webkit-animation: drop-83 4.3076153023s 0.0510340876s infinite;
          animation: drop-83 4.3076153023s 0.0510340876s infinite;
}

@-webkit-keyframes drop-83 {
  100% {
    top: 110%;
    left: 74%;
  }
}

@keyframes drop-83 {
  100% {
    top: 110%;
    left: 74%;
  }
}
.confetti-84 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 99%;
  opacity: 1.1173406965;
  -webkit-transform: rotate(350.235972101deg);
          transform: rotate(350.235972101deg);
  -webkit-animation: drop-84 4.0260330904s 0.6310524957s infinite;
          animation: drop-84 4.0260330904s 0.6310524957s infinite;
}

@-webkit-keyframes drop-84 {
  100% {
    top: 110%;
    left: 113%;
  }
}

@keyframes drop-84 {
  100% {
    top: 110%;
    left: 113%;
  }
}
.confetti-85 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 95%;
  opacity: 1.4285056484;
  -webkit-transform: rotate(235.4765161418deg);
          transform: rotate(235.4765161418deg);
  -webkit-animation: drop-85 4.8610956632s 0.4879593095s infinite;
          animation: drop-85 4.8610956632s 0.4879593095s infinite;
}

@-webkit-keyframes drop-85 {
  100% {
    top: 110%;
    left: 97%;
  }
}

@keyframes drop-85 {
  100% {
    top: 110%;
    left: 97%;
  }
}
.confetti-86 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 66%;
  opacity: 1.3492192302;
  -webkit-transform: rotate(13.6983255059deg);
          transform: rotate(13.6983255059deg);
  -webkit-animation: drop-86 4.7213106235s 0.7031710902s infinite;
          animation: drop-86 4.7213106235s 0.7031710902s infinite;
}

@-webkit-keyframes drop-86 {
  100% {
    top: 110%;
    left: 78%;
  }
}

@keyframes drop-86 {
  100% {
    top: 110%;
    left: 78%;
  }
}
.confetti-87 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 50%;
  opacity: 1.0833227973;
  -webkit-transform: rotate(215.040192793deg);
          transform: rotate(215.040192793deg);
  -webkit-animation: drop-87 4.3107505848s 0.1570489345s infinite;
          animation: drop-87 4.3107505848s 0.1570489345s infinite;
}

@-webkit-keyframes drop-87 {
  100% {
    top: 110%;
    left: 53%;
  }
}

@keyframes drop-87 {
  100% {
    top: 110%;
    left: 53%;
  }
}
.confetti-88 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 14%;
  opacity: 0.9397999897;
  -webkit-transform: rotate(229.546291314deg);
          transform: rotate(229.546291314deg);
  -webkit-animation: drop-88 4.5454555544s 0.8020900918s infinite;
          animation: drop-88 4.5454555544s 0.8020900918s infinite;
}

@-webkit-keyframes drop-88 {
  100% {
    top: 110%;
    left: 17%;
  }
}

@keyframes drop-88 {
  100% {
    top: 110%;
    left: 17%;
  }
}
.confetti-89 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 23%;
  opacity: 1.3798536978;
  -webkit-transform: rotate(132.6173110784deg);
          transform: rotate(132.6173110784deg);
  -webkit-animation: drop-89 4.8959712994s 0.563184324s infinite;
          animation: drop-89 4.8959712994s 0.563184324s infinite;
}

@-webkit-keyframes drop-89 {
  100% {
    top: 110%;
    left: 30%;
  }
}

@keyframes drop-89 {
  100% {
    top: 110%;
    left: 30%;
  }
}
.confetti-90 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 89%;
  opacity: 1.4828124051;
  -webkit-transform: rotate(331.5094609772deg);
          transform: rotate(331.5094609772deg);
  -webkit-animation: drop-90 4.9714472019s 0.7604542745s infinite;
          animation: drop-90 4.9714472019s 0.7604542745s infinite;
}

@-webkit-keyframes drop-90 {
  100% {
    top: 110%;
    left: 101%;
  }
}

@keyframes drop-90 {
  100% {
    top: 110%;
    left: 101%;
  }
}
.confetti-91 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 51%;
  opacity: 1.321750401;
  -webkit-transform: rotate(336.5807176183deg);
          transform: rotate(336.5807176183deg);
  -webkit-animation: drop-91 4.6167946649s 0.7128947099s infinite;
          animation: drop-91 4.6167946649s 0.7128947099s infinite;
}

@-webkit-keyframes drop-91 {
  100% {
    top: 110%;
    left: 57%;
  }
}

@keyframes drop-91 {
  100% {
    top: 110%;
    left: 57%;
  }
}
.confetti-92 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 31%;
  opacity: 1.287411308;
  -webkit-transform: rotate(312.925270542deg);
          transform: rotate(312.925270542deg);
  -webkit-animation: drop-92 4.0995397787s 0.0817714752s infinite;
          animation: drop-92 4.0995397787s 0.0817714752s infinite;
}

@-webkit-keyframes drop-92 {
  100% {
    top: 110%;
    left: 33%;
  }
}

@keyframes drop-92 {
  100% {
    top: 110%;
    left: 33%;
  }
}
.confetti-93 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 55%;
  opacity: 0.852892446;
  -webkit-transform: rotate(97.3805679779deg);
          transform: rotate(97.3805679779deg);
  -webkit-animation: drop-93 4.8593393297s 0.6980862609s infinite;
          animation: drop-93 4.8593393297s 0.6980862609s infinite;
}

@-webkit-keyframes drop-93 {
  100% {
    top: 110%;
    left: 67%;
  }
}

@keyframes drop-93 {
  100% {
    top: 110%;
    left: 67%;
  }
}
.confetti-94 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 68%;
  opacity: 0.9855365125;
  -webkit-transform: rotate(325.812243824deg);
          transform: rotate(325.812243824deg);
  -webkit-animation: drop-94 4.7631607639s 0.9131442097s infinite;
          animation: drop-94 4.7631607639s 0.9131442097s infinite;
}

@-webkit-keyframes drop-94 {
  100% {
    top: 110%;
    left: 77%;
  }
}

@keyframes drop-94 {
  100% {
    top: 110%;
    left: 77%;
  }
}
.confetti-95 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 2%;
  opacity: 0.6579672593;
  -webkit-transform: rotate(179.9883398054deg);
          transform: rotate(179.9883398054deg);
  -webkit-animation: drop-95 4.6893223439s 0.5507846561s infinite;
          animation: drop-95 4.6893223439s 0.5507846561s infinite;
}

@-webkit-keyframes drop-95 {
  100% {
    top: 110%;
    left: 3%;
  }
}

@keyframes drop-95 {
  100% {
    top: 110%;
    left: 3%;
  }
}
.confetti-96 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 5%;
  opacity: 1.4205591147;
  -webkit-transform: rotate(153.3789811077deg);
          transform: rotate(153.3789811077deg);
  -webkit-animation: drop-96 4.4870633381s 0.5647666836s infinite;
          animation: drop-96 4.4870633381s 0.5647666836s infinite;
}

@-webkit-keyframes drop-96 {
  100% {
    top: 110%;
    left: 15%;
  }
}

@keyframes drop-96 {
  100% {
    top: 110%;
    left: 15%;
  }
}
.confetti-97 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 30%;
  opacity: 0.7257594376;
  -webkit-transform: rotate(197.7974562833deg);
          transform: rotate(197.7974562833deg);
  -webkit-animation: drop-97 4.3466932537s 0.7992564884s infinite;
          animation: drop-97 4.3466932537s 0.7992564884s infinite;
}

@-webkit-keyframes drop-97 {
  100% {
    top: 110%;
    left: 31%;
  }
}

@keyframes drop-97 {
  100% {
    top: 110%;
    left: 31%;
  }
}
.confetti-98 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 74%;
  opacity: 0.887570333;
  -webkit-transform: rotate(38.3046146663deg);
          transform: rotate(38.3046146663deg);
  -webkit-animation: drop-98 4.8501304996s 0.4015630904s infinite;
          animation: drop-98 4.8501304996s 0.4015630904s infinite;
}

@-webkit-keyframes drop-98 {
  100% {
    top: 110%;
    left: 86%;
  }
}

@keyframes drop-98 {
  100% {
    top: 110%;
    left: 86%;
  }
}
.confetti-99 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 88%;
  opacity: 1.4329797398;
  -webkit-transform: rotate(18.2668011833deg);
          transform: rotate(18.2668011833deg);
  -webkit-animation: drop-99 4.3171056923s 0.7577046916s infinite;
          animation: drop-99 4.3171056923s 0.7577046916s infinite;
}

@-webkit-keyframes drop-99 {
  100% {
    top: 110%;
    left: 97%;
  }
}

@keyframes drop-99 {
  100% {
    top: 110%;
    left: 97%;
  }
}
.confetti-100 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 35%;
  opacity: 1.4437083075;
  -webkit-transform: rotate(226.4151309949deg);
          transform: rotate(226.4151309949deg);
  -webkit-animation: drop-100 4.3610455156s 0.0567565s infinite;
          animation: drop-100 4.3610455156s 0.0567565s infinite;
}

@-webkit-keyframes drop-100 {
  100% {
    top: 110%;
    left: 46%;
  }
}

@keyframes drop-100 {
  100% {
    top: 110%;
    left: 46%;
  }
}
.confetti-101 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 85%;
  opacity: 0.6195678285;
  -webkit-transform: rotate(283.9545797093deg);
          transform: rotate(283.9545797093deg);
  -webkit-animation: drop-101 4.2495948372s 0.2903463253s infinite;
          animation: drop-101 4.2495948372s 0.2903463253s infinite;
}

@-webkit-keyframes drop-101 {
  100% {
    top: 110%;
    left: 92%;
  }
}

@keyframes drop-101 {
  100% {
    top: 110%;
    left: 92%;
  }
}
.confetti-102 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 26%;
  opacity: 1.4088676993;
  -webkit-transform: rotate(219.4476107305deg);
          transform: rotate(219.4476107305deg);
  -webkit-animation: drop-102 4.2119466158s 0.328804025s infinite;
          animation: drop-102 4.2119466158s 0.328804025s infinite;
}

@-webkit-keyframes drop-102 {
  100% {
    top: 110%;
    left: 37%;
  }
}

@keyframes drop-102 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-103 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 88%;
  opacity: 0.6708264113;
  -webkit-transform: rotate(152.259137427deg);
          transform: rotate(152.259137427deg);
  -webkit-animation: drop-103 4.3966564071s 0.0442150168s infinite;
          animation: drop-103 4.3966564071s 0.0442150168s infinite;
}

@-webkit-keyframes drop-103 {
  100% {
    top: 110%;
    left: 92%;
  }
}

@keyframes drop-103 {
  100% {
    top: 110%;
    left: 92%;
  }
}
.confetti-104 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 67%;
  opacity: 1.1792228005;
  -webkit-transform: rotate(43.9196375409deg);
          transform: rotate(43.9196375409deg);
  -webkit-animation: drop-104 4.1613081083s 0.6182004664s infinite;
          animation: drop-104 4.1613081083s 0.6182004664s infinite;
}

@-webkit-keyframes drop-104 {
  100% {
    top: 110%;
    left: 77%;
  }
}

@keyframes drop-104 {
  100% {
    top: 110%;
    left: 77%;
  }
}
.confetti-105 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 65%;
  opacity: 0.7203315103;
  -webkit-transform: rotate(31.5069982569deg);
          transform: rotate(31.5069982569deg);
  -webkit-animation: drop-105 4.194320341s 0.3073083467s infinite;
          animation: drop-105 4.194320341s 0.3073083467s infinite;
}

@-webkit-keyframes drop-105 {
  100% {
    top: 110%;
    left: 69%;
  }
}

@keyframes drop-105 {
  100% {
    top: 110%;
    left: 69%;
  }
}
.confetti-106 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 97%;
  opacity: 0.678938651;
  -webkit-transform: rotate(46.864434189deg);
          transform: rotate(46.864434189deg);
  -webkit-animation: drop-106 4.4327837951s 0.7769105255s infinite;
          animation: drop-106 4.4327837951s 0.7769105255s infinite;
}

@-webkit-keyframes drop-106 {
  100% {
    top: 110%;
    left: 107%;
  }
}

@keyframes drop-106 {
  100% {
    top: 110%;
    left: 107%;
  }
}
.confetti-107 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 49%;
  opacity: 0.6086567005;
  -webkit-transform: rotate(344.7248139152deg);
          transform: rotate(344.7248139152deg);
  -webkit-animation: drop-107 4.1163566769s 0.8846366451s infinite;
          animation: drop-107 4.1163566769s 0.8846366451s infinite;
}

@-webkit-keyframes drop-107 {
  100% {
    top: 110%;
    left: 58%;
  }
}

@keyframes drop-107 {
  100% {
    top: 110%;
    left: 58%;
  }
}
.confetti-108 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 44%;
  opacity: 1.3716708826;
  -webkit-transform: rotate(243.4238650619deg);
          transform: rotate(243.4238650619deg);
  -webkit-animation: drop-108 4.3197849781s 0.0861863285s infinite;
          animation: drop-108 4.3197849781s 0.0861863285s infinite;
}

@-webkit-keyframes drop-108 {
  100% {
    top: 110%;
    left: 50%;
  }
}

@keyframes drop-108 {
  100% {
    top: 110%;
    left: 50%;
  }
}
.confetti-109 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 62%;
  opacity: 1.194863861;
  -webkit-transform: rotate(56.2635716704deg);
          transform: rotate(56.2635716704deg);
  -webkit-animation: drop-109 4.853546677s 0.852952013s infinite;
          animation: drop-109 4.853546677s 0.852952013s infinite;
}

@-webkit-keyframes drop-109 {
  100% {
    top: 110%;
    left: 68%;
  }
}

@keyframes drop-109 {
  100% {
    top: 110%;
    left: 68%;
  }
}
.confetti-110 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 85%;
  opacity: 0.5057428764;
  -webkit-transform: rotate(190.8965689943deg);
          transform: rotate(190.8965689943deg);
  -webkit-animation: drop-110 4.8650252774s 0.5120521095s infinite;
          animation: drop-110 4.8650252774s 0.5120521095s infinite;
}

@-webkit-keyframes drop-110 {
  100% {
    top: 110%;
    left: 94%;
  }
}

@keyframes drop-110 {
  100% {
    top: 110%;
    left: 94%;
  }
}
.confetti-111 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 13%;
  opacity: 1.2455140069;
  -webkit-transform: rotate(35.2744902589deg);
          transform: rotate(35.2744902589deg);
  -webkit-animation: drop-111 4.1951409677s 0.3801739854s infinite;
          animation: drop-111 4.1951409677s 0.3801739854s infinite;
}

@-webkit-keyframes drop-111 {
  100% {
    top: 110%;
    left: 14%;
  }
}

@keyframes drop-111 {
  100% {
    top: 110%;
    left: 14%;
  }
}
.confetti-112 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 41%;
  opacity: 0.5868755076;
  -webkit-transform: rotate(66.7112290658deg);
          transform: rotate(66.7112290658deg);
  -webkit-animation: drop-112 4.1752414359s 0.1758776503s infinite;
          animation: drop-112 4.1752414359s 0.1758776503s infinite;
}

@-webkit-keyframes drop-112 {
  100% {
    top: 110%;
    left: 46%;
  }
}

@keyframes drop-112 {
  100% {
    top: 110%;
    left: 46%;
  }
}
.confetti-113 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 4%;
  opacity: 0.943886723;
  -webkit-transform: rotate(31.0234061401deg);
          transform: rotate(31.0234061401deg);
  -webkit-animation: drop-113 4.4937650832s 0.8319071072s infinite;
          animation: drop-113 4.4937650832s 0.8319071072s infinite;
}

@-webkit-keyframes drop-113 {
  100% {
    top: 110%;
    left: 11%;
  }
}

@keyframes drop-113 {
  100% {
    top: 110%;
    left: 11%;
  }
}
.confetti-114 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 68%;
  opacity: 0.6666882521;
  -webkit-transform: rotate(204.245948052deg);
          transform: rotate(204.245948052deg);
  -webkit-animation: drop-114 4.9761207471s 0.6376106174s infinite;
          animation: drop-114 4.9761207471s 0.6376106174s infinite;
}

@-webkit-keyframes drop-114 {
  100% {
    top: 110%;
    left: 83%;
  }
}

@keyframes drop-114 {
  100% {
    top: 110%;
    left: 83%;
  }
}
.confetti-115 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 76%;
  opacity: 1.1854207346;
  -webkit-transform: rotate(108.4895795553deg);
          transform: rotate(108.4895795553deg);
  -webkit-animation: drop-115 4.644840366s 0.0716874008s infinite;
          animation: drop-115 4.644840366s 0.0716874008s infinite;
}

@-webkit-keyframes drop-115 {
  100% {
    top: 110%;
    left: 83%;
  }
}

@keyframes drop-115 {
  100% {
    top: 110%;
    left: 83%;
  }
}
.confetti-116 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 46%;
  opacity: 1.4480601189;
  -webkit-transform: rotate(173.1032754798deg);
          transform: rotate(173.1032754798deg);
  -webkit-animation: drop-116 4.8983021132s 0.4839674443s infinite;
          animation: drop-116 4.8983021132s 0.4839674443s infinite;
}

@-webkit-keyframes drop-116 {
  100% {
    top: 110%;
    left: 54%;
  }
}

@keyframes drop-116 {
  100% {
    top: 110%;
    left: 54%;
  }
}
.confetti-117 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 92%;
  opacity: 1.0115214058;
  -webkit-transform: rotate(248.6462034699deg);
          transform: rotate(248.6462034699deg);
  -webkit-animation: drop-117 4.9960495938s 0.9106730107s infinite;
          animation: drop-117 4.9960495938s 0.9106730107s infinite;
}

@-webkit-keyframes drop-117 {
  100% {
    top: 110%;
    left: 104%;
  }
}

@keyframes drop-117 {
  100% {
    top: 110%;
    left: 104%;
  }
}
.confetti-118 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 53%;
  opacity: 1.0901252377;
  -webkit-transform: rotate(352.760247507deg);
          transform: rotate(352.760247507deg);
  -webkit-animation: drop-118 4.1796142152s 0.8752514157s infinite;
          animation: drop-118 4.1796142152s 0.8752514157s infinite;
}

@-webkit-keyframes drop-118 {
  100% {
    top: 110%;
    left: 55%;
  }
}

@keyframes drop-118 {
  100% {
    top: 110%;
    left: 55%;
  }
}
.confetti-119 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 13%;
  opacity: 0.7598808626;
  -webkit-transform: rotate(153.4837465634deg);
          transform: rotate(153.4837465634deg);
  -webkit-animation: drop-119 4.918973025s 0.6382005841s infinite;
          animation: drop-119 4.918973025s 0.6382005841s infinite;
}

@-webkit-keyframes drop-119 {
  100% {
    top: 110%;
    left: 26%;
  }
}

@keyframes drop-119 {
  100% {
    top: 110%;
    left: 26%;
  }
}
.confetti-120 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 75%;
  opacity: 0.6588134187;
  -webkit-transform: rotate(68.419461291deg);
          transform: rotate(68.419461291deg);
  -webkit-animation: drop-120 4.4172052304s 0.7380264525s infinite;
          animation: drop-120 4.4172052304s 0.7380264525s infinite;
}

@-webkit-keyframes drop-120 {
  100% {
    top: 110%;
    left: 80%;
  }
}

@keyframes drop-120 {
  100% {
    top: 110%;
    left: 80%;
  }
}
.confetti-121 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 27%;
  opacity: 0.643144965;
  -webkit-transform: rotate(71.9772566117deg);
          transform: rotate(71.9772566117deg);
  -webkit-animation: drop-121 4.4812846868s 0.6627187709s infinite;
          animation: drop-121 4.4812846868s 0.6627187709s infinite;
}

@-webkit-keyframes drop-121 {
  100% {
    top: 110%;
    left: 42%;
  }
}

@keyframes drop-121 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.confetti-122 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 74%;
  opacity: 1.1445873977;
  -webkit-transform: rotate(186.9620000033deg);
          transform: rotate(186.9620000033deg);
  -webkit-animation: drop-122 4.5825198396s 0.7128515851s infinite;
          animation: drop-122 4.5825198396s 0.7128515851s infinite;
}

@-webkit-keyframes drop-122 {
  100% {
    top: 110%;
    left: 83%;
  }
}

@keyframes drop-122 {
  100% {
    top: 110%;
    left: 83%;
  }
}
.confetti-123 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 36%;
  opacity: 1.0181642993;
  -webkit-transform: rotate(200.6999930304deg);
          transform: rotate(200.6999930304deg);
  -webkit-animation: drop-123 4.3815751906s 0.7806006422s infinite;
          animation: drop-123 4.3815751906s 0.7806006422s infinite;
}

@-webkit-keyframes drop-123 {
  100% {
    top: 110%;
    left: 37%;
  }
}

@keyframes drop-123 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-124 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 95%;
  opacity: 1.0713981618;
  -webkit-transform: rotate(243.6019326986deg);
          transform: rotate(243.6019326986deg);
  -webkit-animation: drop-124 4.3205604273s 0.0426660967s infinite;
          animation: drop-124 4.3205604273s 0.0426660967s infinite;
}

@-webkit-keyframes drop-124 {
  100% {
    top: 110%;
    left: 102%;
  }
}

@keyframes drop-124 {
  100% {
    top: 110%;
    left: 102%;
  }
}
.confetti-125 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 49%;
  opacity: 1.1178172785;
  -webkit-transform: rotate(76.403077255deg);
          transform: rotate(76.403077255deg);
  -webkit-animation: drop-125 4.8117589479s 0.817047186s infinite;
          animation: drop-125 4.8117589479s 0.817047186s infinite;
}

@-webkit-keyframes drop-125 {
  100% {
    top: 110%;
    left: 62%;
  }
}

@keyframes drop-125 {
  100% {
    top: 110%;
    left: 62%;
  }
}
.confetti-126 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 35%;
  opacity: 1.3696896209;
  -webkit-transform: rotate(353.1675443677deg);
          transform: rotate(353.1675443677deg);
  -webkit-animation: drop-126 4.2139074393s 0.6042586185s infinite;
          animation: drop-126 4.2139074393s 0.6042586185s infinite;
}

@-webkit-keyframes drop-126 {
  100% {
    top: 110%;
    left: 43%;
  }
}

@keyframes drop-126 {
  100% {
    top: 110%;
    left: 43%;
  }
}
.confetti-127 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 12%;
  opacity: 0.576224362;
  -webkit-transform: rotate(241.254039198deg);
          transform: rotate(241.254039198deg);
  -webkit-animation: drop-127 4.2556870711s 0.1319536605s infinite;
          animation: drop-127 4.2556870711s 0.1319536605s infinite;
}

@-webkit-keyframes drop-127 {
  100% {
    top: 110%;
    left: 14%;
  }
}

@keyframes drop-127 {
  100% {
    top: 110%;
    left: 14%;
  }
}
.confetti-128 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 76%;
  opacity: 0.5936638249;
  -webkit-transform: rotate(123.9049035435deg);
          transform: rotate(123.9049035435deg);
  -webkit-animation: drop-128 4.8172307623s 0.6703894067s infinite;
          animation: drop-128 4.8172307623s 0.6703894067s infinite;
}

@-webkit-keyframes drop-128 {
  100% {
    top: 110%;
    left: 89%;
  }
}

@keyframes drop-128 {
  100% {
    top: 110%;
    left: 89%;
  }
}
.confetti-129 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 94%;
  opacity: 1.1949547323;
  -webkit-transform: rotate(311.763460619deg);
          transform: rotate(311.763460619deg);
  -webkit-animation: drop-129 4.8074286541s 0.3746275509s infinite;
          animation: drop-129 4.8074286541s 0.3746275509s infinite;
}

@-webkit-keyframes drop-129 {
  100% {
    top: 110%;
    left: 107%;
  }
}

@keyframes drop-129 {
  100% {
    top: 110%;
    left: 107%;
  }
}
.confetti-130 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 28%;
  opacity: 0.7125224185;
  -webkit-transform: rotate(253.4495630032deg);
          transform: rotate(253.4495630032deg);
  -webkit-animation: drop-130 4.1540518292s 0.4071804955s infinite;
          animation: drop-130 4.1540518292s 0.4071804955s infinite;
}

@-webkit-keyframes drop-130 {
  100% {
    top: 110%;
    left: 42%;
  }
}

@keyframes drop-130 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.confetti-131 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 55%;
  opacity: 1.0830402129;
  -webkit-transform: rotate(305.9267584084deg);
          transform: rotate(305.9267584084deg);
  -webkit-animation: drop-131 4.822887246s 0.8744980275s infinite;
          animation: drop-131 4.822887246s 0.8744980275s infinite;
}

@-webkit-keyframes drop-131 {
  100% {
    top: 110%;
    left: 56%;
  }
}

@keyframes drop-131 {
  100% {
    top: 110%;
    left: 56%;
  }
}
.confetti-132 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 28%;
  opacity: 1.2954603908;
  -webkit-transform: rotate(273.8795808604deg);
          transform: rotate(273.8795808604deg);
  -webkit-animation: drop-132 4.1152423184s 0.1532125913s infinite;
          animation: drop-132 4.1152423184s 0.1532125913s infinite;
}

@-webkit-keyframes drop-132 {
  100% {
    top: 110%;
    left: 31%;
  }
}

@keyframes drop-132 {
  100% {
    top: 110%;
    left: 31%;
  }
}
.confetti-133 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 8%;
  opacity: 1.2159279995;
  -webkit-transform: rotate(180.3973922423deg);
          transform: rotate(180.3973922423deg);
  -webkit-animation: drop-133 4.6827364027s 0.9546840563s infinite;
          animation: drop-133 4.6827364027s 0.9546840563s infinite;
}

@-webkit-keyframes drop-133 {
  100% {
    top: 110%;
    left: 18%;
  }
}

@keyframes drop-133 {
  100% {
    top: 110%;
    left: 18%;
  }
}
.confetti-134 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 69%;
  opacity: 1.1622519132;
  -webkit-transform: rotate(327.9412659699deg);
          transform: rotate(327.9412659699deg);
  -webkit-animation: drop-134 4.6818399107s 0.0492785054s infinite;
          animation: drop-134 4.6818399107s 0.0492785054s infinite;
}

@-webkit-keyframes drop-134 {
  100% {
    top: 110%;
    left: 77%;
  }
}

@keyframes drop-134 {
  100% {
    top: 110%;
    left: 77%;
  }
}
.confetti-135 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 22%;
  opacity: 1.483432091;
  -webkit-transform: rotate(15.2075727978deg);
          transform: rotate(15.2075727978deg);
  -webkit-animation: drop-135 4.0407802803s 0.0865907002s infinite;
          animation: drop-135 4.0407802803s 0.0865907002s infinite;
}

@-webkit-keyframes drop-135 {
  100% {
    top: 110%;
    left: 27%;
  }
}

@keyframes drop-135 {
  100% {
    top: 110%;
    left: 27%;
  }
}
.confetti-136 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 84%;
  opacity: 0.556752958;
  -webkit-transform: rotate(64.469539201deg);
          transform: rotate(64.469539201deg);
  -webkit-animation: drop-136 4.2880301983s 0.4217902426s infinite;
          animation: drop-136 4.2880301983s 0.4217902426s infinite;
}

@-webkit-keyframes drop-136 {
  100% {
    top: 110%;
    left: 86%;
  }
}

@keyframes drop-136 {
  100% {
    top: 110%;
    left: 86%;
  }
}
.confetti-137 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 76%;
  opacity: 1.3251678298;
  -webkit-transform: rotate(272.4475134013deg);
          transform: rotate(272.4475134013deg);
  -webkit-animation: drop-137 4.905767266s 0.4873296117s infinite;
          animation: drop-137 4.905767266s 0.4873296117s infinite;
}

@-webkit-keyframes drop-137 {
  100% {
    top: 110%;
    left: 80%;
  }
}

@keyframes drop-137 {
  100% {
    top: 110%;
    left: 80%;
  }
}
.confetti-138 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 21%;
  opacity: 0.5685758889;
  -webkit-transform: rotate(113.94540804deg);
          transform: rotate(113.94540804deg);
  -webkit-animation: drop-138 4.0757825295s 0.4152091201s infinite;
          animation: drop-138 4.0757825295s 0.4152091201s infinite;
}

@-webkit-keyframes drop-138 {
  100% {
    top: 110%;
    left: 28%;
  }
}

@keyframes drop-138 {
  100% {
    top: 110%;
    left: 28%;
  }
}
.confetti-139 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 51%;
  opacity: 1.061858611;
  -webkit-transform: rotate(267.9631582266deg);
          transform: rotate(267.9631582266deg);
  -webkit-animation: drop-139 4.0470179115s 0.2772123286s infinite;
          animation: drop-139 4.0470179115s 0.2772123286s infinite;
}

@-webkit-keyframes drop-139 {
  100% {
    top: 110%;
    left: 54%;
  }
}

@keyframes drop-139 {
  100% {
    top: 110%;
    left: 54%;
  }
}
.confetti-140 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 19%;
  opacity: 1.4796388054;
  -webkit-transform: rotate(297.4922547427deg);
          transform: rotate(297.4922547427deg);
  -webkit-animation: drop-140 4.5087667006s 0.7396431746s infinite;
          animation: drop-140 4.5087667006s 0.7396431746s infinite;
}

@-webkit-keyframes drop-140 {
  100% {
    top: 110%;
    left: 27%;
  }
}

@keyframes drop-140 {
  100% {
    top: 110%;
    left: 27%;
  }
}
.confetti-141 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 93%;
  opacity: 1.3629057604;
  -webkit-transform: rotate(213.2066508007deg);
          transform: rotate(213.2066508007deg);
  -webkit-animation: drop-141 4.7559011875s 0.6518760545s infinite;
          animation: drop-141 4.7559011875s 0.6518760545s infinite;
}

@-webkit-keyframes drop-141 {
  100% {
    top: 110%;
    left: 106%;
  }
}

@keyframes drop-141 {
  100% {
    top: 110%;
    left: 106%;
  }
}
.confetti-142 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 72%;
  opacity: 1.3518397062;
  -webkit-transform: rotate(166.5996985774deg);
          transform: rotate(166.5996985774deg);
  -webkit-animation: drop-142 4.4066097937s 0.6169472248s infinite;
          animation: drop-142 4.4066097937s 0.6169472248s infinite;
}

@-webkit-keyframes drop-142 {
  100% {
    top: 110%;
    left: 78%;
  }
}

@keyframes drop-142 {
  100% {
    top: 110%;
    left: 78%;
  }
}
.confetti-143 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 87%;
  opacity: 0.8753381873;
  -webkit-transform: rotate(335.6345530167deg);
          transform: rotate(335.6345530167deg);
  -webkit-animation: drop-143 4.2645613606s 0.1350066789s infinite;
          animation: drop-143 4.2645613606s 0.1350066789s infinite;
}

@-webkit-keyframes drop-143 {
  100% {
    top: 110%;
    left: 92%;
  }
}

@keyframes drop-143 {
  100% {
    top: 110%;
    left: 92%;
  }
}
.confetti-144 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 90%;
  opacity: 0.6017997804;
  -webkit-transform: rotate(333.3381590369deg);
          transform: rotate(333.3381590369deg);
  -webkit-animation: drop-144 4.7816729066s 0.8515199393s infinite;
          animation: drop-144 4.7816729066s 0.8515199393s infinite;
}

@-webkit-keyframes drop-144 {
  100% {
    top: 110%;
    left: 97%;
  }
}

@keyframes drop-144 {
  100% {
    top: 110%;
    left: 97%;
  }
}
.confetti-145 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 3%;
  opacity: 1.4743782423;
  -webkit-transform: rotate(299.4872379523deg);
          transform: rotate(299.4872379523deg);
  -webkit-animation: drop-145 4.4583465742s 0.1827537378s infinite;
          animation: drop-145 4.4583465742s 0.1827537378s infinite;
}

@-webkit-keyframes drop-145 {
  100% {
    top: 110%;
    left: 16%;
  }
}

@keyframes drop-145 {
  100% {
    top: 110%;
    left: 16%;
  }
}
.confetti-146 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 49%;
  opacity: 1.1083323343;
  -webkit-transform: rotate(227.0917291282deg);
          transform: rotate(227.0917291282deg);
  -webkit-animation: drop-146 4.0014947186s 0.3117955369s infinite;
          animation: drop-146 4.0014947186s 0.3117955369s infinite;
}

@-webkit-keyframes drop-146 {
  100% {
    top: 110%;
    left: 61%;
  }
}

@keyframes drop-146 {
  100% {
    top: 110%;
    left: 61%;
  }
}
.confetti-147 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 67%;
  opacity: 0.5542731511;
  -webkit-transform: rotate(347.968480501deg);
          transform: rotate(347.968480501deg);
  -webkit-animation: drop-147 4.9963112338s 0.8844250901s infinite;
          animation: drop-147 4.9963112338s 0.8844250901s infinite;
}

@-webkit-keyframes drop-147 {
  100% {
    top: 110%;
    left: 75%;
  }
}

@keyframes drop-147 {
  100% {
    top: 110%;
    left: 75%;
  }
}
.confetti-148 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 29%;
  opacity: 0.8266202846;
  -webkit-transform: rotate(23.4434565412deg);
          transform: rotate(23.4434565412deg);
  -webkit-animation: drop-148 4.2931215906s 0.9999308534s infinite;
          animation: drop-148 4.2931215906s 0.9999308534s infinite;
}

@-webkit-keyframes drop-148 {
  100% {
    top: 110%;
    left: 42%;
  }
}

@keyframes drop-148 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.confetti-149 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 27%;
  opacity: 0.525487652;
  -webkit-transform: rotate(52.1043666717deg);
          transform: rotate(52.1043666717deg);
  -webkit-animation: drop-149 4.9373670669s 0.3606009219s infinite;
          animation: drop-149 4.9373670669s 0.3606009219s infinite;
}

@-webkit-keyframes drop-149 {
  100% {
    top: 110%;
    left: 35%;
  }
}

@keyframes drop-149 {
  100% {
    top: 110%;
    left: 35%;
  }
}
.confetti-150 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 6%;
  opacity: 1.379305229;
  -webkit-transform: rotate(345.7848743665deg);
          transform: rotate(345.7848743665deg);
  -webkit-animation: drop-150 4.6570869714s 0.053780097s infinite;
          animation: drop-150 4.6570869714s 0.053780097s infinite;
}

@-webkit-keyframes drop-150 {
  100% {
    top: 110%;
    left: 21%;
  }
}

@keyframes drop-150 {
  100% {
    top: 110%;
    left: 21%;
  }
}

  </style>
  </head>
<body>

<div class="wrapper">
  <div class="confetti-149"></div>
  <div class="confetti-148"></div>
  <div class="confetti-147"></div>
  <div class="confetti-146"></div>
  <div class="confetti-145"></div>
  <div class="confetti-144"></div>
  <div class="confetti-143"></div>
  <div class="confetti-142"></div>
  <div class="confetti-141"></div>
  <div class="confetti-140"></div>
  <div class="confetti-139"></div>
  <div class="confetti-138"></div>
  <div class="confetti-137"></div>
  <div class="confetti-136"></div>
  <div class="confetti-135"></div>
  <div class="confetti-134"></div>
  <div class="confetti-133"></div>
  <div class="confetti-132"></div>
  <div class="confetti-131"></div>
  <div class="confetti-130"></div>
  <div class="confetti-129"></div>
  <div class="confetti-128"></div>
  <div class="confetti-127"></div>
  <div class="confetti-126"></div>
  <div class="confetti-125"></div>
  <div class="confetti-124"></div>
  <div class="confetti-123"></div>
  <div class="confetti-122"></div>
  <div class="confetti-121"></div>
  <div class="confetti-120"></div>
  <div class="confetti-119"></div>
  <div class="confetti-118"></div>
  <div class="confetti-117"></div>
  <div class="confetti-116"></div>
  <div class="confetti-115"></div>
  <div class="confetti-114"></div>
  <div class="confetti-113"></div>
  <div class="confetti-112"></div>
  <div class="confetti-111"></div>
  <div class="confetti-110"></div>
  <div class="confetti-109"></div>
  <div class="confetti-108"></div>
  <div class="confetti-107"></div>
  <div class="confetti-106"></div>
  <div class="confetti-105"></div>
  <div class="confetti-104"></div>
  <div class="confetti-103"></div>
  <div class="confetti-102"></div>
  <div class="confetti-101"></div>
  <div class="confetti-100"></div>
  <div class="confetti-99"></div>
  <div class="confetti-98"></div>
  <div class="confetti-97"></div>
  <div class="confetti-96"></div>
  <div class="confetti-95"></div>
  <div class="confetti-94"></div>
  <div class="confetti-93"></div>
  <div class="confetti-92"></div>
  <div class="confetti-91"></div>
  <div class="confetti-90"></div>
  <div class="confetti-89"></div>
  <div class="confetti-88"></div>
  <div class="confetti-87"></div>
  <div class="confetti-86"></div>
  <div class="confetti-85"></div>
  <div class="confetti-84"></div>
  <div class="confetti-83"></div>
  <div class="confetti-82"></div>
  <div class="confetti-81"></div>
  <div class="confetti-80"></div>
  <div class="confetti-79"></div>
  <div class="confetti-78"></div>
  <div class="confetti-77"></div>
  <div class="confetti-76"></div>
  <div class="confetti-75"></div>
  <div class="confetti-74"></div>
  <div class="confetti-73"></div>
  <div class="confetti-72"></div>
  <div class="confetti-71"></div>
  <div class="confetti-70"></div>
  <div class="confetti-69"></div>
  <div class="confetti-68"></div>
  <div class="confetti-67"></div>
  <div class="confetti-66"></div>
  <div class="confetti-65"></div>
  <div class="confetti-64"></div>
  <div class="confetti-63"></div>
  <div class="confetti-62"></div>
  <div class="confetti-61"></div>
  <div class="confetti-60"></div>
  <div class="confetti-59"></div>
  <div class="confetti-58"></div>
  <div class="confetti-57"></div>
  <div class="confetti-56"></div>
  <div class="confetti-55"></div>
  <div class="confetti-54"></div>
  <div class="confetti-53"></div>
  <div class="confetti-52"></div>
  <div class="confetti-51"></div>
  <div class="confetti-50"></div>
  <div class="confetti-49"></div>
  <div class="confetti-48"></div>
  <div class="confetti-47"></div>
  <div class="confetti-46"></div>
  <div class="confetti-45"></div>
  <div class="confetti-44"></div>
  <div class="confetti-43"></div>
  <div class="confetti-42"></div>
  <div class="confetti-41"></div>
  <div class="confetti-40"></div>
  <div class="confetti-39"></div>
  <div class="confetti-38"></div>
  <div class="confetti-37"></div>
  <div class="confetti-36"></div>
  <div class="confetti-35"></div>
  <div class="confetti-34"></div>
  <div class="confetti-33"></div>
  <div class="confetti-32"></div>
  <div class="confetti-31"></div>
  <div class="confetti-30"></div>
  <div class="confetti-29"></div>
  <div class="confetti-28"></div>
  <div class="confetti-27"></div>
  <div class="confetti-26"></div>
  <div class="confetti-25"></div>
  <div class="confetti-24"></div>
  <div class="confetti-23"></div>
  <div class="confetti-22"></div>
  <div class="confetti-21"></div>
  <div class="confetti-20"></div>
  <div class="confetti-19"></div>
  <div class="confetti-18"></div>
  <div class="confetti-17"></div>
  <div class="confetti-16"></div>
  <div class="confetti-15"></div>
  <div class="confetti-14"></div>
  <div class="confetti-13"></div>
  <div class="confetti-12"></div>
  <div class="confetti-11"></div>
  <div class="confetti-10"></div>
  <div class="confetti-9"></div>
  <div class="confetti-8"></div>
  <div class="confetti-7"></div>
  <div class="confetti-6"></div>
  <div class="confetti-5"></div>
  <div class="confetti-4"></div>
  <div class="confetti-3"></div>
  <div class="confetti-2"></div>
  <div class="confetti-1"></div>
  <div class="confetti-0"></div>
</div>
