---
title: Email Sig
permalink: sig.html
seo_title: email sig
seo_desc: email sig
body_class: sig
sitemapIgnore: true
layout: blank.njk
---

<br>
<table cellspacing='0' cellpadding='0' border='0' style='border-collapse: collapse;table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;' emb-background-style width='100%' undefined>
  <tbody>
    <tr>
      <td style='background-color:#1C142C;'>
        <table cellspacing='0' cellpadding='0' border='0' style='border-collapse: collapse;table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;' emb-background-style>
          <tbody>
            <tr>
              <td>
                <table cellspacing='0' cellpadding='0' border='0' style=' border-collapse: collapse;table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;' emb-background-style width='500'>
                  <tbody>
                    <tr>
                      <td style='padding-bottom:4px;padding-left:4px;vertical-align:middle;width:146px;font-family:Helvetica,Arial,sans-serif;' width='146'>
                        <table style='border-collapse: collapse;table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;' width='100%' emb-background-style>
                          <tbody>
                            <tr>
                              <td style='color:#EEE8FC;font-size:13px;height:150px;font-family:Helvetica,Arial,sans-serif;'>
                                <a href="https://fatsackfails.com" style="border:0px;display:block;height:150px;" target="_blank">
                                  <img src="/images/emailsig-fatsack.png" width="150" height="150" style="display:block;border:0px;" border="0" nosend="1" alt="Ethan Kellogg is Fatsack Fails" />
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style='padding-left:30px;vertical-align:middle;width:320px;font-family:Helvetica,Arial,sans-serif;' width='320'>
                        <table cellspacing='0' cellpadding='0' border='0' style='border-collapse: collapse;table-layout: fixed;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;' width='100%' emb-background-style>
                          <tbody>
                            <tr>
                              <td style='color:#EEE8FC;font-size:16px;mso-line-height-rule:exactly;line-height:29px;font-family:Helvetica,Arial,sans-serif;'>
                                <span style='font-weight:bold;'>Ethan Kellogg <span style="font-weight:normal;">Fatsack Fails</span> </span><span style='font-size:12px;'>(He/Him) </span>
                              </td>
                            </tr>
                            <tr>
                              <td style='color:#EEE8FC;font-size:13px;mso-line-height-rule:exactly;line-height:16px;padding-top:4px;padding-bottom:4px;border-bottom:solid 3px #FA88C8;font-family:Helvetica,Arial,sans-serif;'>
                                <span style='font-weight:bold;font-size:12px;'>Content Creator - Graphic Design - Web Development </span>
                              </td>
                            </tr>
                            <tr>
                              <td style='color:#EEE8FC;font-size:13px;mso-line-height-rule:exactly;line-height:23px;padding-top:4px;padding-bottom:4px;font-family:Helvetica,Arial,sans-serif;'>
                                <span style='font-weight:bold;'><a href="https://fatsackfails.com" style="color:#FA88C8" target="_blank">fatsackfails.com</a> </span>
                              </td>
                            </tr>
                            <tr>
                              <td style='color:#EEE8FC;font-size:13px;height:32px;padding-top:2px;font-family:Helvetica,Arial,sans-serif;'>
                                <a href="https://twitch.com/fatsackfails" target="_blank" style="display:inline-block;padding-right:4px;vertical-align:middle;">
                                  <img src="/images/emailsig-twitch.png" width="32" height="32" style="border:0px;display:block;" border="0" nosend="1" alt="Twitter" />
                                </a>
                                <a href="https://twitter.com/fatsackfails" target="_blank" style="display:inline-block;padding-right:4px;vertical-align:middle;">
                                  <img src="/images/emailsig-twitter.png" width="32" height="32" style="border:0px;display:block;" border="0" nosend="1" alt="Twitter" />
                                </a>
                                <a href="https://instagram.com/fatsackfails" target="_blank" style="display:inline-block;padding-right:4px;vertical-align:middle;">
                                  <img src="/images/emailsig-insta.png" width="32" height="32" style="border:0px;display:block;" border="0" nosend="1" alt="Instagram" />
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td style='color:#EEE8FC;font-size:13px;mso-line-height-rule:exactly;line-height:23px;font-family:Helvetica,Arial,sans-serif;'>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </td>
      </tr>
    </tbody>
  </table>
